{% extends "base.html" %}
{% load static %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div class="container mt-5">
  <style>
    .box {
      border: 2px solid transparent;
      border-radius: 10px;
      transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      padding: 1rem;
      text-align: center;
      background: linear-gradient(to top, #d9e5ff, #a3baff9f);
    }

    .box:hover {
      border: 3px solid #407bff;
      /* Glow color */
      box-shadow: 0 10px 20px #00265eb3;
    }

    .box i {
      font-size: 4rem;
      color: #37474f;
    }

    .btn {
      margin-top: 1rem;
      font-size: 1.2vw;
      font-weight: 500;
      background: #0d6efd;
      border-radius: 0;
      padding-left: 5vw;
      padding-right: 5vw;
      width: auto;
      border-color: #485969;
    }

    .image-container img {
      max-width: 100%;
      border-radius: 15px;
    }
  </style>
  <div class="row g-5 align-items-center">
    <!-- Image Section -->
    <div class="col-md-7 image-container">
      <img src="{% static 'images/homePage.png' %}" alt="Home Page Image">
    </div>
    <!-- Login and Register Section -->
    <div class="col-md-4">
      <div class="box shadow mb-4">
        <div>
          <i class="bi bi-person-circle "></i>
        </div>
        <!-- <h4 class="mt-2">Login here</h4> -->
        <button onclick="window.location.href='/login';" class="btn btn-primary">Login</button>
      </div>
      <div class="box shadow d-flex flex-column align-items-center">
        <div class="text-center">
          <i class="bi bi-pencil-square"></i>
        </div>
        <button onclick="window.location.href='/register';" class="btn btn-primary mt-3">Register</button>

      </div>
    </div>

  </div>
</div>
{% endblock %}